@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url("../fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTLakes-Bold.woff") format("woff"), url("../fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakes-Medium"), url("../fonts/TTLakes-Medium.eot?#iefix") format("mbedded-opentype"), url("../fonts/TTLakes-Medium.woff") format("woff"), url("../fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Regular.eot");
  src: local("TT Lakes Regular"), local("TTLakes-Regular"), url("../fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TTLakes-Regular.woff") format("woff"), url("../fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-family: "TT Lakes";
  color: #1B1C21;
  background-color: #F8F8F8;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  padding: 0px 16px;
  max-width: 1120px;
  margin: 0 auto;
}

.spoiler {
  display: inline-flex;
  position: relative;
}
.spoiler__text {
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 700;
  font-size: 15px;
}

.arrow--spoiler::after, .arrow--spoiler::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  border-right: 2px solid #41F6D7;
  border-top: 2px solid #41F6D7;
  transform: rotate(135deg);
  top: 5px;
  left: -20px;
}
.arrow--spoiler::after {
  top: 10px;
}
.arrow--spoiler.open::after, .arrow--spoiler.open::before {
  transform: rotate(315deg);
  top: 8px;
}
.arrow--spoiler.open::after {
  top: 13px;
}

.slider__header {
  color: #7E7E82;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  min-height: 80px;
  margin: 0px -16px;
  padding: 16px;
}
@media (min-width: 768px) {
  .slider__header {
    min-height: 24px;
    padding: 16px 24px;
  }
}
.slider__body {
  position: relative;
  margin: 0px -16px;
  padding: 16px 0px 28px 16px;
}
@media (min-width: 768px) {
  .slider__body {
    padding: 16px 0px 0px 24px;
    max-height: 176px;
    transition: all 0.5s ease;
  }
}
@media (min-width: 1024px) {
  .slider__body {
    padding: 16px 0px 0px 32px;
  }
}
@media (max-width: 767px) {
  .slider__body::before {
    content: "";
    position: absolute;
    width: 10%;
    height: 100%;
    top: 50%;
    right: 0;
    z-index: 2;
    transform: translate(0, -50%);
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  }
}
@media (min-width: 768px) {
  .slider__wrapper.swiper-wrapper {
    flex-wrap: wrap;
    row-gap: 16px;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
@media (min-width: 768px) {
  .slider__slide.swiper-slide {
    flex-shrink: 1;
    width: auto;
  }
}
.slider__image {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  width: 240px;
  height: 72px;
  padding: 5px 16px;
}
.slider__image a {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.slider__image a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #FF3E79;
}
.slider__image a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  border-right: 2px solid #FF3E79;
  border-top: 2px solid #FF3E79;
  transform: translate(-75%, -50%) rotate(45deg);
}
@media (min-width: 768px) {
  .slider__image {
    width: 224px;
  }
}
.slider__pagination.swiper-pagination {
  bottom: 0;
}
.slider__pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #DDDDDD;
}
.slider__pagination .swiper-pagination-bullet-active {
  background-color: #B5B6BC;
}
.slider__spoiler {
  margin: 20px 0px 0px 30px;
}
@media (max-width: 767px) {
  .slider__spoiler {
    display: none;
  }
}

.slider-header {
  background: linear-gradient(135deg, #F8F8F8 0%, #FFFFFF 98.61%);
}
@media (min-width: 768px) and (max-width: 1023px) {
  .slider-header {
    background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
  }
}