// <ШРИФТЫ> =========================================================================================================================================================================================================
@import '_fonts';
// </ШРИФТЫ> ========================================================================================================================================================================================================

// <ОБНУЛЯЮЩИЕ СТИЛИ> ===============================================================================================================================================================================================
@import '_nullstyle';
// </ОБНУЛЯЮЩИЕ СТИЛИ>===============================================================================================================================================================================================

// <ШАПКА> ==========================================================================================================================================================================================================
@import '_header';
// </ШАПКА> =========================================================================================================================================================================================================

// <ОБЕРТКА> ========================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	overflow: hidden;
	padding: 0px 16px;
	max-width: 1120px;
	margin: 0 auto;
}
// </ОБЕРТКА>========================================================================================================================================================================================================

// Общие блоки (повторяющиеся)

// <ОСНОВНОЙ БЛОК> ==================================================================================================================================================================================================
.slider {
	&__header {
		color: #7E7E82;
		line-height: 24px;
		letter-spacing: -0.2px;
		text-transform: uppercase;
		min-height: 80px;
		background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
		margin: 0px -16px;
		padding: 16px;
	}
	&__body {
		margin: 0px -16px;
		padding: 16px 0px 28px 16px;
		
	}
	&__wrapper {
		&.swiper-wrapper {
		}
	}
	&__slide {
		&.swiper-slide {
			flex: 0 0 240px;
			margin: 0px 16px 0px 0px;
		}
	}
	&__image {
		display: inline-flex;
		justify-content: space-between;
		align-items: center;
		background: #FFFFFF;
		border: 1px solid #EAEAEA;
		border-radius: 6px;
		width: 240px;
		height: 72px;
		padding: 5px 16px;;
		a {
			display: inline-block;
			position: relative;
			width: 40px;
			height: 40px;
			cursor: pointer;
			&::after{
				content:'';
				position: absolute;
				top: 0;
				left: 0;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				border: 1px solid #FF3E79;
			}
			&::before{
				content:'';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 12px;
				height: 12px;
				border-right: 2px solid #FF3E79;;
				border-top: 2px solid #FF3E79;;
				transform: translate(-75%, -50%) rotate(45deg);
			}
		}
	}
	&__pagination {
		&.swiper-pagination {
			bottom: 0;
		}
		.swiper-pagination-bullet {
			width: 12px;
			height: 12px;
			background-color: #DDDDDD;
		}
		.swiper-pagination-bullet-active {
			background-color: #B5B6BC;
		}
	}
}
.swiper {
}





// </ОСНОВНОЙ БЛОК>==================================================================================================================================================================================================

// <ПОДВАЛ> =========================================================================================================================================================================================================
// @import '_footer';
// </ПОДВАЛ> ========================================================================================================================================================================================================